---
services:
  frigate:
    container_name: frigate
    privileged: true
    restart: always
    image: "blakeblackshear/frigate:0.10.1-{{ frigate_container_image_architecture }}"
    shm_size: "64mb"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config/config.yaml:/config/config.yml:ro
      - /var/lib/frigate/media:/media/frigate
    ports:
      - "5000:5000"
      - "1935:1935" # RTMP feeds
