---
volumes:
  grafana_data: {}
  prometheus_data: {}

services:
  blackbox_exporter:
    container_name: blackbox-exporter
    command:
      - "--config.file=/etc/prometheus-blackbox-exporter/config.yaml"
    image: {{ prometheus_blackbox_exporter_container_image }}
    ports:
      - "{{ monitoring_backend_prometheus_node_exporter_host_port }}:{{ monitoring_backend_prometheus_node_exporter_container_port }}"
    restart: always
    volumes:
      - ./prometheus-blackbox-exporter-config.yaml:/etc/prometheus-blackbox-exporter/config.yaml

  grafana:
    container_name: grafana
    depends_on:
      - prometheus
    image: {{ grafana_container_image }}
    environment:
      - GF_METRICS_ENABLED=true
    restart: always
    volumes:
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - grafana_data:/var/lib/grafana
    ports:
      - "{{ monitoring_backend_grafana_host_port }}:3000"

  prometheus:
    image: {{ prometheus_container_image }}
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
{% if monitoring_backend_prometheus_metrics_retention_time is defined %}
      - '--storage.tsdb.retention.time={{ monitoring_backend_prometheus_metrics_retention_time }}'
{% endif %}
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "{{ monitoring_backend_prometheus_host_port }}:9090"
...
