---
services:
  blackbox_exporter:
    container_name: blackbox-exporter
    command:
      - "--config.file=/etc/prometheus-blackbox-exporter/config.yaml"
    image: prom/blackbox-exporter:v0.24.0
    ports:
      - "{{ monitoring_backend_prometheus_node_exporter_host_port }}:{{ monitoring_backend_prometheus_node_exporter_container_port }}"
    restart: always
    volumes:
      - ./prometheus-blackbox-exporter-config.yaml:/etc/prometheus-blackbox-exporter/config.yaml

  grafana:
    container_name: grafana
    depends_on:
      - prometheus
    image: grafana/grafana-oss:10.0.2
    environment:
      - GF_METRICS_ENABLED=true
    restart: always
    volumes:
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - {{ monitoring_backend_grafana_data_directory }}:/var/lib/grafana
    ports:
      - "{{ monitoring_backend_grafana_host_port }}:3000"

  prometheus:
    image: prom/prometheus:v2.45.0
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
      - {{ monitoring_backend_prometheus_data_directory }}:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
{% if monitoring_backend_prometheus_metrics_retention_time is defined %}
      - '--storage.tsdb.retention.time={{ monitoring_backend_prometheus_metrics_retention_time }}'
{% endif %}
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "{{ monitoring_backend_prometheus_host_port }}:9090"
...
