server:
    domain-insecure: {{ edge_environment_root_fqdn }}
    domain-insecure: in-addr.arpa
    local-zone: "{{ edge_environment_gateway.ipv4_address.split('.')[0] }}.in-addr.arpa" transparent
    private-domain: {{ edge_environment_root_fqdn }}
    verbosity: {{ network_stack_unbound_verbosity | default('1') }}
{% if network_stack_unbound_enable_logs is defined and network_stack_unbound_enable_logs %}
    log-queries: yes
    log-replies: yes
    log-servfail: yes
    log-tag-queryreply: yes
{% endif %}
