server:
    domain-insecure: {{ root_dns_zone.fqdn }}
    local-zone: "{{ root_dns_zone.fqdn }}." transparent
    verbosity: {{ network_stack_unbound_verbosity | default('1') }}
{% if network_stack_unbound_enable_logs is defined and network_stack_unbound_enable_logs %}
    log-queries: yes
    log-replies: yes
    log-servfail: yes
    log-tag-queryreply: yes
{% endif %}
