---
mqtt:
  host: "{{ mosquitto_server_fqdn }}"
  port: 1883

detectors:
  coral:
    type: edgetpu
    device: usb

ffmpeg:
  # Enable acceleration
  hwaccel_args:
{% for argument in frigate_ffmpeg_harware_acceleration_arguments %}
    - "{{ argument }}"
{% endfor %}

# Configuration for recordings
record:
  enabled: true
  events:
    # Maximum length of time to retain video during long events
    max_seconds: 600
    # Number of seconds after the event to include
    post_capture: 10
    # Number of seconds before the event to include
    pre_capture: 10
    retain:
      # Retention days
      default: 10

# Configuration for the snapshots written to the clips directory for each event
snapshots:
  bounding_box: true
  enabled: true
  retain:
    # Retention days
    default: 10

timestamp_style:
  format: "%Y-%m-%dT%H:%M:%S"
  # Position of the timestamp. "tl" (top left), "tr" (top right), "bl" (bottom left), "br" (bottom right)
  position: "tl"

cameras:
  cam-1:
    ffmpeg:
      inputs:
{% for frigate_camera in frigate_cameras %}
        - path: "{{ frigate_camera.path }}"
          roles:
{% for role in frigate_camera.roles %}
            - {{ role }}
{% endfor %}
    motion:
      mask:
{% for mask in frigate_camera.motion_masks %}
        - {{ mask }}
{% endfor %}
{% endfor %}
...
