[Unit]
Description=ZTE F6005 ONT metrics exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=mkdir --parents --verbose {{ monitoring_ont_run_directory_path }}
ExecStartPre=python3 -m venv --clear --system-site-packages --upgrade-deps {{ monitoring_ont_virtual_env_path }}
ExecStartPre={{ monitoring_ont_virtual_env_path }}/bin/pip3 install -r {{ monitoring_ont_requirements_file_path }}
ExecStart={{ monitoring_ont_virtual_env_path }}/bin/python3 {{ monitoring_ont_executable_path }}
Restart=always

[Install]
WantedBy=multi-user.target
