[Unit]
Description=ZTE F6005 ONT metrics exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre={{ build_python_venv_script_destination_path }} {{ monitoring_ont_run_directory_path }} {{ monitoring_ont_requirements_file_path }}
ExecStart={{ monitoring_ont_run_directory_path }}/bin/python3 {{ monitoring_ont_executable_path }}
Restart=always

[Install]
WantedBy=multi-user.target
