(common) {
  cache
  cancel
  chaos
  errors
  health
  local
  log
  loop
  prometheus localhost:{{ network_stack_coredns_prometheus_metrics_port }}
  ready
  root /etc/coredns
}

{{ edge_environment_root_fqdn }} {
  forward . {{ edge_dns_server.ipv4_address }}
  import common
}

{{ root_fqdn }} {
  file ./zones/{{ root_fqdn }}
  import common
}
