.vagrant/

*.retry

*.log

*.conf.local

env/*

SHA256SUMS

*.img
*.xz

# We use a .yaml file extension for these files, and we remove that extension
# before using these files, as cloud-init expects.
meta-data
network-config
user-data
