# Log files
*.log

# Downloaded artifacts
*.img
*.iso
*.xz
SHA256SUMS

# Generated prometheus metrics
*.prom

# ESPHome build path
.esphome

# ESPHome and Home assistant secrets
secrets.y*ml

# zigbee2mqtt secrets
secret.yaml

# Python virtual environments
.venv*

# Ansible Vault
vault.y*ml*
