---
services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:1.29.1
    restart: always
    volumes:
      - ./data:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - {{ zigbee2mqtt_user_interface_host_port }}:8080
    devices:
      - "{{ zigbee_adapter_device_path }}:/dev/ttyACM0"
...
