$ORIGIN {{ root_dns_zone.fqdn }}.

{% if dns_records_to_configure is defined and dns_records_to_configure | length > 0 %}
{% set longest_dns_record_source = dns_records_to_configure | map(attribute='source') | map('length') | max + 1 %}
{% set longest_dns_ttl = dns_records_to_configure | map(attribute='ttl', default=root_dns_zone.default_record_ttl | string) | map('length') | max + 1 %}
{% set longest_dns_query_type = dns_records_to_configure | map(attribute='query_type') | map('length') | max + 1 %}
{% set longest_dns_query_destination = dns_records_to_configure | map(attribute='destination') | map('length') | max + 1 %}
{% set fmt = "{:<" + longest_dns_record_source | string + "}    {:<" + longest_dns_ttl | string + "}    IN    {:<" + longest_dns_query_type | string + "}    {:<" + longest_dns_query_destination | string + "}" %}
{% set fmt_additional_record_data = fmt ~ "    {}" %}
{% for dns_record in dns_records_to_configure %}
{% if dns_record.query_type != 'A' and dns_record.query_type != 'AAAA' %}
{% set dns_record_destination = dns_record.destination ~ "." %}
{% else %}
{% set dns_record_destination = dns_record.destination %}
{% endif %}
{% set dns_record_ttl = dns_record.ttl | default(root_dns_zone.default_record_ttl) %}
{% if dns_record.additional_record_data is defined %}
{{ fmt_additional_record_data.format(dns_record.source ~ ".", dns_record_ttl, dns_record.query_type, dns_record_destination, dns_record.additional_record_data) | trim }}
{% else %}
{{ fmt.format(dns_record.source ~ ".", dns_record_ttl, dns_record.query_type, dns_record_destination) | trim }}
{% endif %}
{% endfor %}
{% endif %}
