---
services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.6.1
    container_name: node_exporter
    command:
      - "--collector.textfile.directory={{ monitoring_prometheus_node_exporter_textfile_collector_directory }}"
      - "--path.rootfs=/host"
    network_mode: host
    pid: host
    restart: always
    volumes:
      - "/:/host:ro,rslave"
      - {{ monitoring_prometheus_node_exporter_textfile_collector_directory }}:{{ monitoring_prometheus_node_exporter_textfile_collector_directory }}
{% if configure_docker %}
  cadvisor:
    container_name: cadvisor
    devices:
      - /dev/kmsg:/dev/kmsg
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    ports:
      - "{{ cadvisor_exposed_port }}:8080"
    privileged: true
    restart: always
    volumes:
      - "/:/rootfs:ro"
      - /var/run:/var/run:ro"
      - /sys:/sys:ro"
      - /var/lib/docker/:/var/lib/docker:ro"
      - /dev/disk/:/dev/disk:ro"
      - /etc/machine-id:/etc/machine-id:ro
{% endif %}
{% if configure_monitoring_nut %}
  nut-exporter:
    image: ghcr.io/druggeri/nut_exporter:3.0.0
    container_name: nut-exporter
    restart: unless-stopped
    command:
      - "--log.level=debug"
      - "--nut.username={{ monitoring_nut_server_admin_username }}"
      - "--nut.vars_enable="
      - "--web.listen-address=:{{ monitoring_nut_exporter_port }}"
    environment:
      - NUT_EXPORTER_PASSWORD="{{ monitoring_nut_server_admin_password }}"
    ports:
      - {{ monitoring_nut_exporter_port }}:{{ monitoring_nut_exporter_port }}/tcp
{% endif %}
...
