---
services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.5.0
    container_name: node_exporter
    command:
      - "--collector.textfile.directory=/var/lib/node_exporter/textfile_collector"
      - "--path.rootfs=/host"
    network_mode: host
    pid: host
    restart: always
    volumes:
      - "/:/host:ro,rslave"
      - /var/lib/node_exporter/textfile_collector:/var/lib/node_exporter/textfile_collector
{% if configure_docker %}
  cadvisor:
    container_name: cadvisor
    devices:
      - /dev/kmsg:/dev/kmsg
    image: gcr.io/cadvisor/cadvisor:v0.45.0
    ports:
      - "{{ cadvisor_exposed_port }}:8080"
    privileged: true
    restart: always
    volumes:
      - "/:/rootfs:ro"
      - /var/run:/var/run:ro"
      - /sys:/sys:ro"
      - /var/lib/docker/:/var/lib/docker:ro"
      - /dev/disk/:/dev/disk:ro"
{% endif %}
...
