[AutoRun]
enabled=false
program=

[LegalNotice]
Accepted=true

[Preferences]
Advanced\confirmTorrentDeletion=true
Advanced\confirmTorrentRecheck=true
Advanced\DisableRecursiveDownload=false
Advanced\updateCheck=true
Connection\GlobalUPLimit=200
Connection\PortRangeMin=6881
Connection\ResolvePeerCountries=true
Connection\ResolvePeerHostNames=false
Connection\UPnP=false
Downloads\SavePath={{ media_stack_torrent_map_destination_download_path }}/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\TempPath={{ media_stack_torrent_map_destination_download_path }}/incomplete/
Downloads\TempPathEnabled=true
Downloads\UseIncompleteExtension=true
General\AlternatingRowColors=true
General\Locale=en
Queueing\IgnoreSlowTorrents=true
Queueing\MaxActiveDownloads=6
Queueing\MaxActiveTorrents=15
Queueing\QueueingEnabled=true
WebUI\Address=*
WebUI\Password_PBKDF2="{{ media_stack_qbittorrent_webui_password }}"
WebUI\ServerDomains=*
