# Store the current time/date timestamp in the app description structure
CONFIG_APP_COMPILE_TIME_DATE=y

# Enable Bluetooth and show the submenu with Bluetooth configuration choices.
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

# Detect flash size when flashing bootloader
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

# Set flash size to 4MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Configure the partition scheme to hold a factory app, and two OTA definitions
CONFIG_PARTITION_TABLE_TWO_OTA=y

# Enable FreeRTOS tracing and formatting functions
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y

# Enable hardware accelerated multiple precision integer operations, AES, and SHA
CONFIG_MBEDTLS_HARDWARE_AES=y
CONFIG_MBEDTLS_HARDWARE_MPI=y
CONFIG_MBEDTLS_HARDWARE_SHA=y
