---
country: ""
currency: ""
elevation_home: ""
internal_url_home: "http://{{ inventory_hostname }}:8123"
latitude_home: ""
longitude_home: ""
name_home: ""
spotify_client_id: ""
spotify_client_secret: ""
telegram_bot_allowed_chat_ids:
  - ""
telegram_bot_api_key: ""
timezone_home: ""
...
