---
services:
  qbittorrent-nox:
    image: linuxserver/qbittorrent:4.4.3
    container_name: qbittorrent-nox
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - WEBUI_PORT=8080
    ports:
      - "6881:6881/tcp"
      - "6881:6881/udp"
      - "8080:8080"
    read_only: true
    restart: always
    stop_grace_period: 30m
    volumes:
      - "{{ torrent_configuration_directory_path }}:/config"
      - "{{ torrent_download_path }}:/downloads"
...
