---
services:
  qbittorrent-nox:
    build:
      context: .
    container_name: qbittorrent-nox
    ports:
      - "6881:6881/tcp"
      - "6881:6881/udp"
      - "8080:8080"
    restart: always
    stop_grace_period: 30m
    volumes:
      - "{{ qbittorrent_download_path }}:/downloads"
...
