---
services:
  frigate:
    cap_add:
      - CAP_PERFMON
    container_name: frigate
    restart: unless-stopped
    image: {{ container_images_ids["frigate"] }}
    # Ref: https://docs.frigate.video/frigate/installation#calculating-required-shm-size
    shm_size: "64mb"
    devices:
{% if has_coral_usb_accelerator | default(false) %}
      - /dev/bus/usb:/dev/bus/usb
{% endif %}
{% if has_coral_pci_accelerator | default(false) %}
      - /dev/apex_0:/dev/apex_0
{% endif %}
{% for device in frigate_gpu_decode_devices | default([]) %}
      - {{ device }}:{{ device }}
{% endfor %}
    ports:
      - "5000:5000"
      - "8554:8554" # RTSP feeds
      - "8555:8555/tcp" # WebRTC over tcp
      - "8555:8555/udp" # WebRTC over udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - {{ frigate_media_directory }}:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
...
