---
services:
  frigate:
    container_name: frigate
    privileged: true
    restart: always
    image: {{ container_images_ids["frigate"] }}
    shm_size: "64mb"
    # Got those from
    devices:
      - /dev/bus/usb:/dev/bus/usb
{% for device in frigate_gpu_decode_devices | default([]) %}
      - "{{ device }}:{{ device }}"
{% endfor %}
    # We need host networking because Mosquitto listens on localhost only
    network_mode: host
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - {{ frigate_media_directory }}:/media/frigate
...
