[Unit]
After=network-online.target init-iot-core.service
Wants=network-online.target init-iot-core.service

[Service]
ExecStart=/usr/local/bin/start-mqtt-client.sh
Restart=always

[Install]
WantedBy=multi-user.target
