---
services:

  coredns:
    image: "{{ container_images_ids["coredns"] }}"
    container_name: "coredns"
    command:
      - "-conf"
      - "/etc/coredns/Corefile"
    dns_search: {{ edge_environment_root_fqdn }}
    ports:
      - "{{ network_stack_coredns_dns_host_port }}:53"
      # Bind to a specific IP and network interface in case of UDP because
      # we need to send responses via a specific network interface.
      # If we don't set a specific network interface, the binding is 0.0.0.0:port/udp,
      # but the docker proxy doesn't set the source IP address correctly, in this
      # case.
      # Ref: https://github.com/moby/libnetwork/issues/1729
      # Ref: https://github.com/moby/moby/issues/15127
      - "{{ root_dns_zone_server.ipv4_address }}:{{ network_stack_coredns_dns_host_port }}:53/udp"
      - "{{ network_stack_coredns_healthcheck_port }}:{{ network_stack_coredns_healthcheck_port }}"
      - "{{ network_stack_coredns_prometheus_metrics_port }}:{{ network_stack_coredns_prometheus_metrics_port }}"
    restart: unless-stopped
    volumes:
      - './coredns:/etc/coredns'

  unbound:
    image: "{{ container_images_ids["unbound"] }}"
    container_name: "unbound"
    dns_search: {{ edge_environment_root_fqdn }}
    ports:
      - "{{ network_stack_unbound_host_port }}:53"
      # See above about port mapping for UDP ports
      - "{{ lab_dns_resolver.ipv4_address }}:{{ network_stack_unbound_host_port }}:53/udp"
    restart: unless-stopped
    volumes:
      - "./unbound:/etc/unbound/custom.conf.d"
...
