---
services:
  jellyfin:
    image: {{ container_images_ids["jellyfin"] }}
    container_name: jellyfin
    volumes:
      - {{ jellyfin_configuration_directory_path }}:/config
      - {{ jellyfin_cache_directory_path }}:/cache
      - {{ media_directory_path }}:/media:ro
    ports:
      - {{ jellyfin_port }}:8096
    restart: unless-stopped
...
