#jinja2:variable_start_string:'[%', variable_end_string:'%]'
- id: '1781981625695'
  alias: Notify on Frigate events
  description: Notify when a Frigate event occurs
  triggers:
  - trigger: mqtt
    options:
      topic: frigate/events
  conditions: []
  actions:
  - action: telegram_bot.send_photo
    metadata: {}
    data:
      verify_ssl: true
      url: http://[% frigate_http_endpoint_fqdn %]:[% frigate_host_port %]/api/events/{{trigger.payload_json["after"]["id"]}}/snapshot.jpg
      caption: A {{trigger.payload_json["after"]["label"]}} was detected. Here is
        a snapshot of the event.
  - if:
    - condition: template
      value_template: '{{trigger.payload_json["after"]["end_time"] is not none}}'
    then:
    - action: telegram_bot.send_message
      metadata: {}
      data:
        message: There's no recording yet because the event is still in progress.
    else:
    - action: telegram_bot.send_video
      metadata: {}
      data:
        verify_ssl: true
        url: http://[% frigate_http_endpoint_fqdn %]:[% frigate_host_port %]/api/events/{{trigger.payload_json["after"]["id"]}}/clip.mp4
  mode: queued
  max: 20
- id: '1781975622579'
  alias: Notify if Home Assistant is online
  description: ''
  triggers:
  - trigger: time_pattern
    minutes: /15
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      message: Home Assistant is online
  mode: single
- id: '1782051737210'
  alias: Turn off gaming rig when not in use
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.presa_studio_gaming_power
    for:
      hours: 0
      minutes: 1
      seconds: 0
    attribute: power
    below: 25
  conditions:
  - condition: state
    entity_id: switch.presa_studio_gaming
    state:
    - 'on'
  actions:
  - action: switch.turn_off
    metadata: {}
    target:
      entity_id:
      - switch.presa_studio_gaming
      - switch.presa_monitor_gaming
    data: {}
  mode: single
- id: '1781980204862'
  alias: Notify when UPS status changes
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.eaton_ellipse_pro_1600_din_1_status
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      message: '{{ trigger.to_state.attributes.friendly_name }}: {{ trigger.to_state.state
        }}'
  mode: single
- id: '1781980974269'
  alias: Turn off gaming rig when not in use (living room)
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.presa_sala_gaming_power
    for:
      hours: 0
      minutes: 1
      seconds: 0
    below: 13
  conditions:
  - condition: device
    type: is_on
    device_id: 87f43ce91a0ed169ac75a705db7156e2
    entity_id: 2f61ce29f95a117b1d672a06ed2b1cc6
    domain: switch
  actions:
  - device_id: 87f43ce91a0ed169ac75a705db7156e2
    domain: select
    entity_id: dbfaef1ec9df5d9fc68a3a766c9171d5
    type: select_first
  - action: telegram_bot.send_message
    metadata: {}
    data:
      message: Turn off living room gaming rig
  mode: single
- id: '1781981138078'
  alias: Turn on gaming monitor when gaming rig is on
  description: ''
  triggers:
  - type: turned_on
    device_id: 6449a73377f934da409a21b1a9343f06
    entity_id: bb2a9e962c4ef2b8a0687660bdbf5b13
    domain: switch
    trigger: device
  conditions:
  - condition: device
    type: is_off
    device_id: 4c6026026fac1d1e1f021fb35d2a1e61
    entity_id: b46d837fd384ebe48793a8c560a83803
    domain: switch
  actions:
  - type: turn_on
    device_id: 4c6026026fac1d1e1f021fb35d2a1e61
    entity_id: b46d837fd384ebe48793a8c560a83803
    domain: switch
  mode: single
- id: '1781981423161'
  alias: Notify if entity is unavailable
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - camera.e1_ingresso_sub
    to:
    - unavailable
  - trigger: state
    entity_id:
    - sensor.eaton_ellipse_pro_1600_din_1_status
    to:
    - unavailable
  - trigger: state
    entity_id:
    - light.luce_comodino_ilaria_2
    to:
    - unavailable
  - trigger: state
    entity_id:
    - light.luce_comodino_marco_2
    to:
    - unavailable
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      message: '{{ trigger.to_state.attributes.friendly_name }} entity is unavailable.'
  mode: single
