---
automation: !include automations.yaml

default_config: null

homeassistant:
  country: "{{ home_assistant_secrets.country }}"
  currency: "{{ home_assistant_secrets.currency }}"
  internal_url: "{{ home_assistant_internal_url_home }}"
  latitude: "{{ home_assistant_secrets.latitude_home }}"
  longitude: "{{ home_assistant_secrets.longitude_home }}"
  elevation: "{{ home_assistant_secrets.elevation_home }}"
  name: "{{ home_assistant_secrets.name_home }}"
  temperature_unit: C
  time_zone: "{{ home_assistant_secrets.timezone_home }}"
  unit_system: metric

prometheus: null

telegram_bot:
  - platform: polling
    api_key: "{{ home_assistant_secrets.telegram_bot_api_key }}"
    allowed_chat_ids:
{% for chat_id in home_assistant_secrets.telegram_bot_allowed_chat_ids %}
      - "{{ chat_id }}"
{% endfor %}
...
