[Unit]
Description=Run the home lab node configuration service
Requires=docker.service

[Service]
ExecStart=scripts/run-ansible.sh
WorkingDirectory={{ home_lab_configuration_directory_path }}

[Install]
WantedBy=multi-user.target
