ADDITIONAL_ANSIBLE_FLAGS="-CD --extra-vars \"ansible_connection=local\" --limit {{ inventory_hostname }}"
ANSIBLE_HOME="{{ home_lab_configuration_directory_path }}/config/ansible"
HOST_CONFIGURATION_SERVICE_PIP_REQUIREMENTS_FILE_PATH="{{ home_lab_host_configuration_service_pip_requirements_file_path }}"
HOST_CONFIGURATION_SERVICE_RUNTIME_DIRECTORY_PATH="{{ home_lab_host_configuration_service_runtime_directory_path }}"
PYTHON_VIRTUAL_ENVIRONMENT_PATH="${HOST_CONFIGURATION_SERVICE_RUNTIME_DIRECTORY_PATH}/.venv"
