[Unit]
Description=Run the home lab node configuration service
Requires=docker.service

[Service]
Environment="ADDITIONAL_ANSIBLE_FLAGS=-CD --extra-vars 'ansible_connection=community.docker.nsenter'"
ExecStart={{ home_lab_configuration_directory_path }}/scripts/run-ansible.sh
WorkingDirectory={{ home_lab_configuration_directory_path }}

[Install]
WantedBy=multi-user.target
