[service_ethernet]
DeviceName = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/DeviceName" }}
Type = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/Type" }}
IPv4 = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/IPv4" }}
IPv6 = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/IPv6" }}
IPv6.Privacy = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/IPv6.Privacy" }}
Nameservers = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/Nameservers" }}
SearchDomains = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/SearchDomains" }}
Domain = {{ key "edge/beaglebone-black/config/var/lib/connman/ethernet.config/service_ethernet/Domain" }}
