---
services:

  coredns:
    image: "coredns/coredns:1.10.1"
    container_name: "coredns"
    command:
      - "-conf"
      - "/etc/coredns/Corefile"
    ports:
      - "{{ network_stack_coredns_dns_host_port }}:53"
      # This assumes that the DNS resolver is listening to the default network interface as well
      - "{{ ansible_default_ipv4.address }}:{{ network_stack_coredns_dns_host_port }}:53/udp"
      - "{{ network_stack_coredns_healthcheck_port }}:{{ network_stack_coredns_healthcheck_port }}"
      - "{{ network_stack_coredns_prometheus_metrics_port }}:{{ network_stack_coredns_prometheus_metrics_port }}"
    restart: always
    volumes:
      - './coredns:/etc/coredns'
{% if network_stack_configure_recursive_dns_resolver %}

  unbound:
    image: "klutchell/unbound:v1.17.1"
    container_name: "unbound"
    ports:
      - "{{ network_stack_unbound_dns_host_port }}:53"
      # This assumes that the DNS resolver is listening to the default network interface as well
      - "{{ ansible_default_ipv4.address }}:{{ network_stack_unbound_dns_host_port }}:53/udp"
    restart: always
    volumes:
      - "./unbound:/etc/unbound/custom.conf.d"
{% endif %}
{% if network_stack_configure_reverse_proxy %}

  traefik:
    image: "traefik:v2.9.8"
    container_name: "traefik"
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--entrypoints.web.address=:{{ network_stack_traefik_cleartext_http_port }}"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker=true"
    environment:
      - TZ={{ timezone }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.example.com`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
    ports:
      - "{{ network_stack_traefik_secured_http_port }}:{{ network_stack_traefik_secured_http_port }}"
      - "{{ network_stack_traefik_cleartext_http_port }}:{{ network_stack_traefik_cleartext_http_port }}"
      - "{{ network_stack_traefik_api_http_port }}:{{ network_stack_traefik_api_http_port }}"
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
{% endif %}
{% if network_stack_debugger %}

  network_debugger:
    image: "debian:latest"
    container_name: "network_debugger"
    command:
      - sleep
      - infinity
    restart: unless-stopped
{% endif %}
...
