---
networks:
  default:
    ipam:
      config:
        - subnet: "{{ network_stack_container_network_subnet }}"

services:

  coredns:
    image: "coredns/coredns:1.10.1"
    container_name: "coredns"
    command:
      - "-conf"
      - "/etc/coredns/Corefile"
    networks:
      default:
        ipv4_address: "{{ network_stack_container_network_coredns_container_ipv4_address }}"
    ports:
      - "{{ network_stack_coredns_dns_host_port }}:53"
      - "{{ network_stack_coredns_dns_host_port }}:53/udp"
      - "{{ network_stack_coredns_healthcheck_port }}:{{ network_stack_coredns_healthcheck_port }}"
      - "{{ network_stack_coredns_prometheus_metrics_port }}:{{ network_stack_coredns_prometheus_metrics_port }}"
    restart: always
    volumes:
      - './coredns:/etc/coredns'
{% if network_stack_configure_recursive_dns_resolver %}

  unbound:
    image: "klutchell/unbound:v1.17.1"
    container_name: "unbound"
    networks:
      default:
        ipv4_address: "{{ network_stack_container_network_unbound_container_ipv4_address }}"
    ports:
      - "{{ network_stack_unbound_dns_host_port }}:53"
      - "{{ network_stack_unbound_dns_host_port }}:53/udp"
    restart: always
    volumes:
      - "./unbound:/etc/unbound/custom.conf.d"
{% endif %}
{% if network_stack_configure_reverse_proxy %}

  traefik:
    image: "traefik:v2.9.7"
    container_name: "traefik"
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--entrypoints.web.address=:{{ traefik_cleartext_http_port }}"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker=true"
    environment:
      - TZ={{ timezone }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.example.com`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
    ports:
      - "{{ traefik_secured_http_port }}:{{ traefik_secured_http_port }}"
      - "{{ traefik_cleartext_http_port }}:{{ traefik_cleartext_http_port }}"
      - "{{ traefik_api_http_port }}:{{ traefik_api_http_port }}"
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
{% endif %}
...
